:root {
  --primary-color: #8447ff;
  --secondary-color: #72ddf7;
  --tertiary-color: #e382f9;
}

.content-wrapper {
  height: calc(100vh - 125px);
  padding: 30px 0;
  overflow: auto;
}

.main-footer {
  background-color: var(--primary-color);
  padding: 10px 0;
}